{% if heading is defined %}
# Ansible {{ module_name }} module
{% endif %}
{#
[![Travis](https://travis-ci.org/{{ username }}/ansible-module-{{ module_name }}.svg?branch=master)](https://travis-ci.org/{{ username }}/ansible-module-{{ module_name }})
[![Ansible Module](https://img.shields.io/ansible/role/14945.svg?label=module)](https://galaxy.ansible.com/{{ username }}/{{ module_name }}-module/)
#}

{% for doc in modules.results %}
{{ doc['short_description'] | markdown_ify }}

{% if requirements is defined %}
## Requirements

{% for req in requirements %}
* {{ req | markdown_ify }}
{% endfor %}
{% endif %}

## Install

```
$ ansible-galaxy install {{ username }}.{{ module_name }}-module
```
{#
```yaml
# playbook.yml

- hosts: default
  roles:
  # After you call this role, you can use this module.
  - {{ username }}.{{ module_name }}-module
```
#}

## Synopsis
{% for each in doc['description'] %} {{ each | markdown_ify }}
{% endfor %}

## Options

{% if 'options' in doc %}

| Parameter     | required    | default  | choices    | comments |
| ------------- |-------------| ---------|----------- |--------- |
{% for option in doc.options.keys() | sort %}
| {{ option }}  |  {% if doc.options[option].get('required') != None %} {{ doc.options[option]['required'] | replace('True','yes') | replace('False','no') }} {% endif %} | {% if doc.options[option].get('default') != None %} {{ doc.options[option]['default'] | replace('None','')}} {% endif %} |{% if doc.options[option].get('choices') != None %} <ul>{% for each in doc.options[option]['choices'] %} <li>{{ each }}</li> {% endfor %}</ul>{% endif %} | {% if doc.options[option].get('description') != None %}{% for each in doc.options[option]['description'] %} {{ each | markdown_ify }} {% endfor %}{% endif %} |
{% endfor %}
{% endif %}

{% if doc['examples'] is defined %}

## Examples

```
{% for example in doc['examples'] %}
{{ example | replace('{#','{{') | replace('#}','}}') }}
{% endfor %}
```
{% endif %}

## Return Values

{% if doc['returndocs'] is defined and doc['returndocs'] %}

| name | description | returned | type | sample |
| ---- |-------------| ---------|----- |------- |
{% for k,v in (doc['returndocs']|from_yaml).items() %}
| {{ k }} | {{ v['description'] | markdown_ify }}  | {{ v['returned'] }}  | {{ v['type'] }} | {{ v['sample'] }} |
{% endfor %}

{% endif %}
{% for k,v in doc.items() %}
{% if k == 'notes' %}
## Notes

{% for note in v %}
- {{ note | markdown_ify }}

{% endfor -%}
{% endif -%}
{% endfor -%}

{% endfor -%}

## License

{{ galaxy_info.license }}
